<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h4>Entidades</h4>
          </div>
          <div class="card-text">
            <a routerLink="/main/entity" class="btn btn-primary btn-sm">Ir a</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h4>Tipos de documentos</h4>
          </div>
          <div class="card-text">
            <a routerLink="/main/document" class="btn btn-primary btn-sm">Ir a</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h4>Tipos de contribuyentes</h4>
          </div>
          <div class="card-text">
            <a routerLink="/main/contributor" class="btn btn-primary btn-sm">Ir a</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>